---
import Button from '@components/Button.astro'
import LandingNewsletter from '@components/LandingNewsletter'
---

<div class='max-w-6xl mx-auto mt-24 mb-96'>
	<section class='max-w-3xl px-10 mx-auto'>
		<h2 class="font-extrabold text-4xl leading-none">
			<img class="inline-block w-12 h-12" src="./star-struck.svg" />¡No te pierdas la próxima hackathon!
		</h2>

		<LandingNewsletter client:visible />

	</section>
</div>
