---
import { LoginButton } from '@components/LoginButton'
import { LinkPill } from '@components/LinkPill'
import { TwitchIcon } from '@components/TwitchIcon'
---

<div class="bg-gray-100">
	<header class="max-w-6xl mx-auto xl:px-0 px-10 w-full relative z-20 flex justify-between h-20 items-center">
		<div class="relative flex pr-10 flex-col">
			<a href="/" class="flex text-3xl leading-none font-black hover:opacity-70 items-center">
				<img class="w-12 h-12 mr-2 object-contain" src='/favicon.svg'>
				<span class="flex items-end">
					retos<span class="text-base align-bottom bg-clip-text text-transparent bg-gradient-to-r from-blue-500 via-blue-600 to-blue-800">.dev</span>
				</span>
			</a>
		</div>

		<div class="hidden">
			<a href='/ejercicios'>
				Ejercicios
			</a>
			<a href='/hackathons'>
				Hackathons
			</a>
		</div>

		<div class="relative flex space-x-5 font-medium">
			<div class="hidden">
				<LoginButton client:visible />
			</div>

			<LinkPill color="twitch" href="https://twitch.tv/midudev" newTab>
				<TwitchIcon class="w-6 h-6" />
				Sígueme en Twitch
			</LinkPill>
		</div>
	</header>

</div>
